.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.success-message {
  color: green;
  margin-bottom: 10px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  margin-bottom: 10px;
  padding: 8px;
  width: 70%;
  box-sizing: border-box;
}

.login-form button {
  display: block;
  margin: 10px auto;
  padding: 8px 20px;
  width: 80%;
  max-width: 200px;
}